.pageHeading {
  --font-size: 4rem;

  font-size: var(--font-size);
  font-weight: 700;
  margin-bottom: 20px;

  @media (--tablet-and-above) {
    --font-size: 5.6rem;
  }

  &.small {
    --font-size: 3.2rem;
  }

  &.large {
    --font-size: 4rem;

    @media (--tablet-and-above) {
      --font-size: 5.6rem;
    }
  }
}