.layout {
  @media (--mobile) {
    > :first-child {
      transform: translateY(-120%);
      margin-bottom: 40px;
    }
  }

  @media (--tablet-and-above) {
    > :first-child {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
    }

    > :last-child {
      margin-left: 250px;
    }
  }
}