.categoriesNavigation {
  display: flex;
  gap: 20px;

  @media (--mobile) {
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;

    --horizontal-padding: 20px;

    margin-left: calc(-1 * var(--horizontal-padding));
    margin-right: calc(-1 * var(--horizontal-padding));
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
    mask-image: linear-gradient(to right,
        #FFF0 0,
        #FFFF var(--horizontal-padding),
        #FFFF calc(100% - var(--horizontal-padding)),
        #FFF0 100%);
  }

  @media (--tablet-and-above) {
    flex-direction: column;
  }

  li {
    flex-shrink: 0;
    line-height: 1;
  }

  a {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    color: #606060;

    &:hover {
      color: #F77429;
    }

    font-weight: 600;

    @media (--tablet-and-above) {
      font-weight: 500;
    }
  }
}